#logo{
    width: 150px;
    margin-top: 10px;
   
}

#intestazione{
     background-image: url("../img/pattern.png");
     background-repeat: repeat-x;
     background-color: lightskyblue;
     background-size: 200px;
     width: 1080px;
     height: 50px;
}

#titolo{
    width: 850px;
}


.sottotitolo{
    color: grey;
    width: 170px;
}

#sottotitolo1{
    font-weight: bold;
}

#sottotitolo2{
    color: lightskyblue;
}

#sottotitolo3{
    font-size: small;
}

#descrizionefoto{
    font-size: small;
    font-weight: bold;
    width: 430px;
}

/* ------------------------------------------------------------------------------ */

#paragrafo-principale{
    width: 1080px;
}

.evidenziato{
    background-color: yellow;
}

#elenco{
    width: 1080px;
    padding-left: 10px;
}